@model Role
@{
    Layout = "_ModalDialogForm";
}

<!--编辑角色表单-->
<form action="javascript:void(0);" onsubmit="save_role(this);">
    <div class="row mb-3">
        <label class="col-md-3 col-form-label text-end">角色名称</label>
        <div class="col-md-9">
            <input class="form-control" type="text" name="RoleName" value="@base.Model.RoleName" required />
            <invalid-message>请输入角色名称</invalid-message>
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-md-3 col-form-label text-end">备注</label>
        <div class="col-md-9">
            <textarea class="form-control" name="Remark">@base.Model.Remark</textarea>
        </div>
    </div>
    <!--隐藏变量-->
    <input type="hidden" name="RoleId" value="@base.Model.RoleId" />
</form>