@model IPagedList<Role>
@{
    string function = base.ViewBag.Function;
}

<!--头-->
<nav class="nav">
    <!--标题-->
    <h5 class="me-auto text-primary"><i class="fa fa-cogs"></i> @base.ViewData["Title"]</h5>
    <!--关闭按钮-->
    <button class="btn-close" type="button" onclick="close_@(function)();"></button>
</nav>
<!--查询表单-->
<form class="container-fluid mb-2">
    <div class="row">
        <div class="col-md-8 row">
            <label class="col-md-4 col-form-label text-end">角色名称:</label>
            <div class="col-md-8">
                <input class="form-control" type="text" name="SearchName" />
            </div>
        </div>
        <div class="col-md-4">
            <primary-button click="@($"{function}(1);")">
                <partial name="_ButtonTextSearch" />
            </primary-button>
        </div>
    </div>
</form>
<!--主体:分页显示角色列表-->
<main>
    @await Html.PartialAsync("_ListSelectRoles", base.Model)
</main>