<!--modal-dialog下的modal-content里面的内容模板-->
<partial name="_ModalDialogHeader" />
<div class="modal-body">
    @base.RenderBody()
</div>
<div class="modal-footer">
    <secondary-button click="close_dialog($(this).parents('.modal').get(0));">
        <i class="fa fa-reply"></i>&nbsp;返&nbsp;回
    </secondary-button>
</div>