@model Department
@{
    Layout = "_ModalDialog";
}

<!--显示部门详情-->
<div class="row mb-3">
    <label class="col-md-3 col-form-label text-end">部门名称</label>
    <div class="col-md-9">
        <input class="form-control" type="text" name="DepartmentName" value="@base.Model.DepartmentName" readonly />
    </div>
</div>
<div class="row mb-3">
    <label class="col-md-3 col-form-label text-end">上级部门</label>
    <div class="col-md-9">
        <input class="form-control" type="text" value="@base.Model.Parent.DepartmentInfoName" readonly />
    </div>
</div>
<div class="row mb-3">
    <label class="col-md-3 col-form-label text-end">部门领导</label>
    <div class="col-md-9">
        <input class="form-control" type="text" name="DepartmentManager" value="@base.Model.DepartmentManager" readonly />
    </div>
</div>
<div class="row mb-3">
    <label class="col-md-3 col-form-label text-end">备注</label>
    <div class="col-md-9">
        <textarea class="form-control" name="Remark" readonly>@base.Model.Remark</textarea>
    </div>
</div>