@model IPagedList<Department>
@{
    string functionName = base.ViewBag.Function;
    string selectFunction = base.ViewBag.SelectFunction;
}

<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>部门编号</th>
            <th>部门名称</th>
            <th>部门领导</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var department in base.Model)
        {
            <tr onclick="@($"{selectFunction}('{department.DepartmentNo}', '{department.DepartmentName}');")">
                <td>@department.DepartmentNo</td>
                <td>@department.DepartmentName</td>
                <td>@department.DepartmentManager</td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3">
                @await Html.PartialAsync("_Pagination", base.Model.GetPagination(functionName))
            </td>
        </tr>
    </tfoot>
</table>