/*通用样式*/
a {
    text-decoration: none;
}
/*错误样式*/
.error{
    color: red;
}
/*平行四边形*/
.parallelogram{
    padding: 4px 8px;
    transform: skewX(-30deg);
}
.parallelogram > span{
    display: block;
    transform: skew(30deg);
}
/*固定宽度样式*/
.w-fixed-100{
    width: 100px;
}
.w-fixed-150 {
    width: 150px;
}
.w-fixed-200 {
    width: 200px;
}
.w-fixed-250 {
    width: 250px;
}
.w-fixed-300 {
    width: 300px;
}
/*滚动条样式*/
.overflow-scroll-x{
    overflow-x: scroll;
}
.overflow-scroll-y{
    overflow-y: scroll;
}
/*版权样式*/
.copyright {
    font-size: 13px;
}
/*竖面板样式*/
.div-panel-vertical {
    background-color: white;
    height: 100%;
    overflow-y: scroll;
    padding: 10px;
}
/*横面板样式*/
.div-panel-horizontal {
    background-color: white;
    width: 100%;
    overflow-x: scroll;
    padding: 10px;
}