@model User
@{
    Layout = "_ModalDialog";
}

<!--用户详情-->
<div class="row mb-3">
    <label class="col-md-3 col-form-label text-end">用户名</label>
    <div class="col-md-9">
        <input class="form-control" type="text" name="UserName" value="@base.Model.UserName" readonly />
    </div>
</div>
<div class="row mb-3">
    <label class="col-md-3 col-form-label text-end">角色名称</label>
    <div class="col-md-9">
        <input class="form-control" type="text" name="RoleName" value="@base.Model.Role.RoleName" readonly />
    </div>
</div>
<div class="row mb-3">
    <label class="col-md-3 col-form-label text-end">员工姓名</label>
    <div class="col-md-9">
        <input class="form-control" type="text" name="EmployeeName" value="@base.Model.Employee.EmployeeName" readonly />
    </div>
</div>