@model User
@{
    Layout = "_ModalDialogForm";
}

<!--编辑修改密码表单-->
<form action="javascript:void(0);" onsubmit="save_password(this);">
    <div class="row mb-3">
        <label class="col-md-3 col-form-label text-end">用户名</label>
        <div class="col-md-9">
            <input class="form-control" type="text" name="UserName" value="@base.Model.UserName" readonly />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-md-3 col-form-label text-end">密码</label>
        <div class="col-md-9">
            <input class="form-control" type="password" name="Password" required />
            <invalid-message>请输入密码</invalid-message>
        </div>
    </div>
    <!--隐藏变量-->
    <input type="hidden" name="UserId" value="@base.Model.UserId" />
</form>