@{
    Layout = "_ModalDialogForm";
}

<!--新建用户表单-->
<form action="javascript:void(0);" onsubmit="add_user(this);">
    <div class="row mb-3">
        <label class="col-md-3 col-form-label text-end">用户名</label>
        <div class="col-md-9">
            <input class="form-control" type="text" name="UserName" required />
            <invalid-message>请输入用户名</invalid-message>
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-md-3 col-form-label text-end">角色名称</label>
        <div class="col-md-9">
            <div class="input-group">
                <input class="form-control" type="text" name="RoleName" data-bs-toggle="popover" data-id-field="RoleId" required />
                <button class="input-group-text text-primary" type="button" onclick="search_select_roles(1);">
                    <partial name="_IconSearch" />
                </button>
                <button class="input-group-text text-secondary" type="button" onclick="clean_select_role($(this).parents('form').get(0));">
                    <partial name="_IconClean" />
                </button>
                <invalid-message>请选择角色</invalid-message>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-md-3 col-form-label text-end">员工姓名</label>
        <div class="col-md-9">
            <div class="input-group">
                <input class="form-control" type="text" name="EmployeeName" data-bs-toggle="popover" data-id-field="EmployeeId" />
                <button class="input-group-text text-secondary" type="button" onclick="clean_select_employee($(this).parents('form').get(0));">
                    <partial name="_IconClean" />
                </button>
            </div>
        </div>
    </div>
    <!--隐藏变量-->
    <input type="hidden" name="UserId" value="@GuidHelper.NewOrdered().ToString()" />
    <input type="hidden" name="RoleId" />
    <input type="hidden" name="EmployeeId" />
</form>