@model IPagedList<Employee>
@{
    string function = base.ViewBag.Function;
}

<!--查询表单-->
<form class="container-fluid mb-2">
    <div class="row">
        <div class="col-md-5 row">
            <label class="col-md-4 col-form-label text-end">姓名:</label>
            <div class="col-md-8">
                <input class="form-control" type="text" name="EmployeeName" />
            </div>
        </div>
        <div class="col-md-5 row">
            <label class="col-md-4 col-form-label text-end">手机号码:</label>
            <div class="col-md-8">
                <input class="form-control" type="text" name="PhoneNumber" />
            </div>
        </div>
        <div class="col-md-2">
            <primary-button click="@($"{function}(1);")">
                <partial name="_ButtonTextSearch" />
            </primary-button>
        </div>
    </div>
</form>
<!--主体:分页显示员工列表-->
<main>
    @await Html.PartialAsync("_ListSelectEmployees", base.Model)
</main>