@{
    Layout = "_ModalContentForm";
}

<!--新建员工表单-->
<form action="javascript:void(0);" onsubmit="add_employee(this);">
    <div class="row mb-3">
        <div class="col-md-6 row">
            <label class="col-md-4 col-form-label text-end">员工编号</label>
            <div class="col-md-8">
                <input class="form-control" type="text" name="EmployeeNo" required />
                <invalid-message>请输入员工编号</invalid-message>
            </div>
        </div>
        <div class="col-md-6 row">
            <label class="col-md-4 col-form-label text-end">员工姓名</label>
            <div class="col-md-8">
                <input class="form-control" type="text" name="EmployeeName" required />
                <invalid-message>请输入员工姓名</invalid-message>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-6 row">
            <label class="col-md-4 col-form-label text-end">性别</label>
            <div class="col-md-8 row justify-content-center">
                <div class="col-md-4 form-check">
                    <input class="form-check-input" type="radio" name="Sex" id="rdo-male" value="男" checked />
                    <label class="form-check-label" for="rdo-male">男</label>
                </div>
                <div class="col-md-4 form-check">
                    <input class="form-check-input" type="radio" name="Sex" id="rdo-female" value="女" />
                    <label class="form-check-label" for="rdo-female">女</label>
                </div>
            </div>
        </div>
        <div class="col-md-6 row">
            <label class="col-md-4 col-form-label text-end">身份证号码</label>
            <div class="col-md-8">
                <input class="form-control" type="text" name="IdNumber" required />
                <invalid-message>请输入身份证号码</invalid-message>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-6 row">
            <label class="col-md-4 col-form-label text-end">出生日期</label>
            <div class="col-md-8">
                <input class="form-control" type="text" data-role="datepicker" name="Birthday" required  />
                <invalid-message>请选择出生日期</invalid-message>
            </div>
        </div>
        <div class="col-md-6 row">
            <label class="col-md-4 col-form-label text-end">年龄</label>
            <div class="col-md-8">
                <input class="form-control" type="text" name="Age" readonly />
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-6 row">
            <label class="col-md-4 col-form-label text-end">部门</label>
            <div class="col-md-8">
                <input class="form-control" type="text" data-bs-toggle="popover" name="DepartmentName" required />
                <invalid-message>请选择部门</invalid-message>
            </div>
        </div>
        <div class="col-md-6 row">
            <label class="col-md-4 col-form-label text-end">职位</label>
            <div class="col-md-8">
                <input class="form-control" type="text" data-bs-toggle="popover" name="JobName" required />
                <invalid-message>请选择职位</invalid-message>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-6 row">
            <label class="col-md-4 col-form-label text-end">手机号码</label>
            <div class="col-md-8">
                <input class="form-control" type="text" name="PhoneNumber" />
            </div>
        </div>
        <div class="col-md-6 row">
            <label class="col-md-4 col-form-label text-end">电子邮箱</label>
            <div class="col-md-8">
                <input class="form-control" type="text" name="Email" />
            </div>
        </div>
    </div>
    <div class="row mb-3 pe-md-4">
        <div class="col-md-12 row">
            <label class="col-md-2 col-form-label text-end">家庭住址</label>
            <div class="col-md-10">
                <input class="form-control" type="text" name="Address" />
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-6 row">
            <label class="col-md-4 col-form-label text-end">入职日期</label>
            <div class="col-md-8">
                <input class="form-control" type="text" data-role="datepicker" name="JoinDate" required />
                <invalid-message>请选择入职日期</invalid-message>
            </div>
        </div>
        <div class="col-md-6 row">
            <label class="col-md-4 col-form-label text-end">离职日期</label>
            <div class="col-md-8">
                <input class="form-control" type="text" data-role="datepicker" name="LeaveDate" />
            </div>
        </div>
    </div>
    <!--隐藏变量-->
    <input type="hidden" name="DepartmentNo" />
    <input type="hidden" name="JobId" />
</form>